@charset "utf-8";
/* CSS Document */
body {
	background-image:url("../back.gif");
	background-size: 100%;
}

img{
	width: 270px;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }

h1{
	color: #ffffff;
	font-size: 50px;
	margin-bottom: 10px;
}

#border{
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(../images/Transparent.png) 20% round; /* Safari 3.1-5 */
    -o-border-image: url(../images/Transparent.png) 20% round; /* Opera 11-12.1 */
    border-image: url(../images/Transparent.png) 20% round;
}

.ak {
  cursor: url("../images/FlipKnifeLore.png"),auto;
}

.header {
    text-align: center;
	font-size: 30px;
    padding: 32px;
}